<h2>Lottery Contract:</h2>
<p>This contract is managed by:  {{manager}}
  There are currently {{players.length }} people entered, competing to win {{balance}} ether!
</p>
<hr>
<form #lotteryForm="ngForm" (ngSubmit)="onSubmit(lotteryForm)">
  <h4>Want to try your luck!!</h4>
  <label for="etherInput">Amount of ether to enter::</label>
  <input type="text"  name="etherInput" ngModel>
  <br>
  <button type="Submit"> Enter </button>
</form>
<hr>
<h4>Ready to pick a winner</h4>
<button (click)="onWinnerPick()">Pick a winner</button>
<hr>
<h1>{{message}}</h1>


